<?xml version="1.0"?>
<Configuration>
    <ClinicalDocument>
        <title>allowed</title>
        <documentationOf>allowed</documentationOf>
        <documentGeneral>allowed</documentGeneral>
        <confidentialityCode allowed="true">
            <originalText>allowed</originalText>
        </confidentialityCode>
        <author allowed="true">
            <time>allowed</time>
            <assignedAuthor allowed="true">
                <assignedPerson allowed="true">
                    <name>allowed</name>
                    <prefix>allowed</prefix>
                    <given>allowed</given>
                    <family>allowed</family>
                </assignedPerson>
                <representedOrganization>
                    <name>allowed</name>
                    <addr>
                        <streetAddressLine>allowed</streetAddressLine>
                        <city>allowed</city>
                        <state>allowed</state>
                        <postalCode>allowed</postalCode>
                        <country>allowed</country>
                    </addr>
                </representedOrganization>
            </assignedAuthor>
        </author>
        <recordTarget>
            <patientRole allowed="true">
                <id>not-allowed</id>
                <addr>allowed</addr>
                <telecom>allowed</telecom>
                <patient>
                    <name allowed="true">
                        <given>allowed</given>
                        <family>allowed</family>
                    </name>
                    <administrativeGenderCode>allowed</administrativeGenderCode>
                    <birthTime>allowed</birthTime>
                    <raceCode>allowed</raceCode>
                    <ethnicGroupCode>allowed</ethnicGroupCode>
                    <maritalStatusCode>allowed</maritalStatusCode>
                    <religiousAffiliationCode>allowed</religiousAffiliationCode>
                    <languageCommunication>
                        <languageCode>allowed</languageCode>
                    </languageCommunication>
                </patient>
                <providerOrganization>
                    <id>allowed</id>
                    <name>allowed</name>
                    <telecom>allowed</telecom>
                    <addr>
                        <streetAddressLine>allowed</streetAddressLine>
                        <city>allowed</city>
                        <state>allowed</state>
                        <postalCode>allowed</postalCode>
                        <country>allowed</country>
                    </addr>
                </providerOrganization>
            </patientRole>
        </recordTarget>
        <custodian>
            <assignedCustodian>not-allowed</assignedCustodian>
        </custodian>
        <componentOf>
            <encompassingEncounter>allowed</encompassingEncounter>
        </componentOf>
        <component>
            <structuredBody>
                <component>
                    <section>
                        <templateId root="2.16.840.1.113883.10.20.22.2.12">allowed</templateId><!-- displayName="REASON FOR VISIT" -->
                        <templateId root="2.16.840.1.113883.10.20.22.2.5.1">allowed</templateId><!-- displayName="PROBLEM LIST" -->
                        <templateId root="2.16.840.1.113883.10.20.22.2.1.1">allowed</templateId><!-- displayName="MEDICATIONS" -->
                        <templateId root="2.16.840.1.113883.10.20.22.4.3">allowed</templateId><!-- displayName="Concern" -->
                        <templateId root="2.16.840.1.113883.10.20.22.2.6.1">allowed</templateId><!-- displayName="Allergies and Adverse Reactions" -->
                        <templateId root="2.16.840.1.113883.10.20.22.2.17">allowed</templateId><!-- displayName="Social History" -->
                        <templateId root="2.16.840.1.113883.10.20.22.2.4.1">allowed</templateId><!-- displayName="Vital Signs" -->
                        <templateId root="2.16.840.1.113883.10.20.22.2.2.1">allowed</templateId><!-- displayName="Immunizations" -->
                        <templateId root="2.16.840.1.113883.10.20.22.2.7.1">allowed</templateId><!-- displayName="Procedures" -->
                        <templateId root="2.16.840.1.113883.10.20.22.2.3.1">allowed</templateId><!-- displayName="Results" -->
                        <templateId root="2.16.840.1.113883.10.20.22.2.2.10">allowed</templateId><!-- displayName="Plan of Care" -->
                        <templateId root="2.16.840.1.113883.10.20.22.2.2.45">allowed</templateId><!-- displayName="Instructions" -->
                        <templateId root="2.16.840.1.113883.10.20.22.2.2.22">allowed</templateId><!-- displayName="Encounter Histories" -->
                    </section>
                </component>
            </structuredBody>
            <substanceAdministration>
                <id root="1.3.6.1.4.1.21367.2009.1.2.310">allowed</id>
                <id root="1.3.6.1.4.1.21367.2009.1.2.310">allowed</id>
            </substanceAdministration>
        </component>
    </ClinicalDocument>
</Configuration>